@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
@apply border-t-orange-300
}

code {
  font-family: sans-serif;
}
